* {
  box-sizing: border-box;
}

.profile-card {
  width: 100vw;
  height: 100vh;
  font-family: Arial;
}

.content {
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,80%);
}

.items {
  width: 100%;
  height: 30%;
  padding: 5%;
  text-align: center;
  line-height:150%;
}

.about-me {
   width: 100%;
  height: 50%;
 padding: 5%;
}

.visit-me {
   width: 100%;
  height: 20%;
  
}

.images {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 200%;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 150%;
  font-weight: 500;
}

h3 {
  font-size: .8rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: .85rem;
}

.portrait {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:hsla(0,0%,30%);
}

.photo {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}

.photo:hover {
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
  box-shadow: hsla(100, 0%, 0%, .8) 10px 10px 30px;
}

.shots {
  height: 50%;
  width: 100%;
  background-color:hsla(0,0%,30%);
}

.private {
  height: 100%;
  width: 50%;
  float: right;
}

.priv1 {
  height: 50%;
  width: 100%;
  
  
}

.priv2 {
  height: 50%;
  width: 100%;
}

.on-work {
  height: 100%;
  width: 50%;
}

.work1 {
  height: 50%;
  width: 100%;
  
}

.work2 {
  height: 50%;
  width: 100%;
}

@media only screen and (max-height: 637px) { 
  .shots {
    height: 75%;
  }
}

@media only screen and (max-height: 530px) {
  .content {
    height: 120%;
  }
}

@media only screen and (max-height: 435px) { 
  .shots {
    height: 100%;
  }
  .photo {
    max-height: 75%;
    max-width: 75%;
  }
  .content {
    height: 150%
  }
}

@media only screen and (max-height: 350px) {
  .content {
    height:   200%;
  }
  h2 {
    font-size: .8rem;
  }
}

.img2 {
  max-width: 50vw;
  max-height: 50vh;
  filter: grayscale(90%);
  
}

.img2:hover {
  filter: grayscale(0%);
}

ul {
  list-style-type: none;
  text-align: center;
  line-height: 500%;
}

li {
  display: inline;
}

.pikt {
  color:darkblue;
}

.pikt:hover {
  color:darkmagenta;
  
}

.phone, .mailto {
  color: darkblue;
}

.phone:hover, .mailto:hover {
  color: darkmagenta; 
}